{% set id = page.slug|hyphenize %}
{% set image = page.header.image ? page.media.images[page.header.image] : page.media.images|first %}

<article id="{{ id }}">

	<header class="text-center">
		<div class="flex justify-center mb-3">
			{% if page.header.svg %}
				{{ svg('theme://svg/'~page.header.svg, 'fill-current text-primary w-64')|raw }}
			{% elseif image %}
				{{ image.cropZoom(200,200).html('','','mask mask-squircle')|raw }}
			{% endif %}
		</div>
		<div class="uppercase text-neutral tracking-wide font-semibold">{{ page.header.label }}</div>
		<h2 class="text-2xl font-bold"><a href="#{{id}}">{{ page.title }}</a></h2>
		<div class="text-md font-light">{{ page.header.subtitle }}</div>
	</header>

	<div class="prose mx-auto mt-4 {{ page.header.centered ? 'text-center' : '' }}">
		{{ page.content|raw }}
	</div>

	{% if page.collection %}
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-6">
			{% for module in page.collection %}
				<div>{{ module.content|raw }}</div>
			{% endfor %}
		</div>
	{% endif %}


	{% if page.header.link %}
		<footer class="text-center">
			<a href="{{ page.header.link }}" class="btn btn-primary">Mehr</a>
		</footer>
	{% endif %}

</article>
