{% set id = page.slug|hyphenize %}

<article id="{{ id }}">

	<header class="text-center">
		<div class="flex justify-center items-center space-x-2 mb-5">
			{% if page.header.svg %}
				{{ svg('theme://svg/'~page.header.svg, 'fill-current text-primary w-64')|raw }}
			{% elseif page.media.images %}
				{% set n = page.media.images|length %}
				{% set minmax = n // 2 %}
				{% set range = range(-minmax, minmax) %}
				{% set viewports = ['', 'hidden md:block', 'hidden lg:block', 'hidden xl:block'] %}
				{% for image in page.media.images%}
					{% set i = range[loop.index0]|abs %}
					{% set w = 180 / ((i + 3) / 3)%}
					{{ image.cropZoom(w,w).html('','','mask mask-squircle '~viewports[i])|raw }}
				{% endfor %}
			{% endif %}
		</div>
		<div class="uppercase text-neutral tracking-wide font-semibold">{{ page.header.label }}</div>
		<h2 class="text-2xl font-bold">
			<a href="#{{id}}">{{ page.title }}</a>
		</h2>
		<div class="text-md font-light">{{ page.header.subtitle }}</div>
	</header>

	<div class="prose mx-auto mt-4 {{ page.header.centered ? 'text-center' : '' }}">
		{{ page.content|raw }}
	</div>

	{% if page.collection %}
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-6">
			{% for module in page.collection %}
				<div>{{ module.content|raw }}</div>
			{% endfor %}
		</div>
	{% endif %}


	{% if page.header.link %}
		<footer class="text-center">
			<a href="{{ page.header.link }}" class="btn btn-primary">Mehr</a>
		</footer>
	{% endif %}

</article>
