<div class="space-y-8">
	<div class="prose mx-auto {{ page.header.centered ? 'text-center' : '' }}">
		{{ page.content|raw }}
	</div>
	<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 items-start">
		{% for item in page.collection %}
			<div class="w-full bg-neutral-content shadow rounded-box">

				<div class="p-5">
					<div class="text-primary font-medium uppercase text-xs tracking-wide">{{ item.taxonomy.tag|first }}</div>
					<h3 class="text-lg font-bold">{{ item.title }}</h3>
				</div>

				{% set image = item.media.images|first %}
				{% if image %}
					<figure>
						{{ image.cropZoom(600, 300).html|raw }}
					</figure>
				{% endif %}

				<div class="p-5">
					<h2 class="font-light text-sm">{{ item.header.subtitle }}</h2>
					<div class="prose prose-sm mt-2">
						{{ item.summary|raw }}
					</div>
				</div>

				<div class="flex items-center justify-between border-t p-5">
					<div class="font-semibold opacity-50 text-sm">{{ item.header.dtend|date('d. M y')}}</div>
					<a class="btn btn-ghost btn-xs ml-5" href="{{ item.url }}">Lesen</a>
				</div>
			</div>
		{% else %}
			<div>Keine Infos gefunden.</div>
		{% endfor %}
	</div>
</div>
