{% set id = page.slug|hyphenize %}
{% set image = page.media.images|first %}

{% if page.header.link %}
	{% set link %}
	<a href="{{ page.header.link }}" class="hidden md:inline btn btn-outline btn-sm mt-3">Mehr</a>
	{% endset %}
{% endif %}

<div id="{{id}}" class="grid grid-flow-row auto-rows-max gap-4" style="grid-template-columns: minmax(8rem, 20%) 1fr 1fr;">
	<div class="md:row-span-2 justify-self-center self-center md:self-start">
		{% if page.header.svg %}
			{{ svg('theme://svg/'~page.header.svg, 'fill-current text-primary w-full')|raw }}
		{% elseif image %}
			{{ image.cropZoom(200,200).html('','','mask mask-squircle w-full')|raw }}
		{% endif %}
		{% if page.header.link %}
			<div class="text-center mt-5 hidden md:block">
				<a href="{{ page.header.link }}" class=" btn btn-primary btn-xs">Mehr</a>
			</div>
		{% endif %}
	</div>
	<div class="col-start-2 col-span-2 self-center">
		<div class="text-sm uppercase tracking-wide font-semibold opacity-50">{{ page.header.label }}</div>
		<h2 class="card-title m-0">
			<a href="#{{id}}">{{ page.title }}</a>
		</h2>
		<div>{{ page.header.subtitle }}</div>
	</div>
	<div class="col-start-1 col-span-3 md:col-start-2 md:col-span-2">
		<article class="prose">{{ page.content|raw }}</article>
		{% if page.header.link %}
			<div class="text-center md:hidden mt-3">
				<a href="{{ page.header.link }}" class="btn btn-primary btn-xs">Mehr</a>
			</div>
		{% endif %}
	</div>
</div>
