<div class="card bordered indicator overflow-visible mt-16">
	<div class="indicator-item indicator-top indicator-center w-32 h-32">
		{% if page.header.svg %}
			{{ svg('theme://svg/'~page.header.svg~'.svg', 'fill-current text-primary w-full')|raw }}
		{% endif %}
		{% for image in page.media.images %}
			{{ image.cropZoom(200,200).html('','','mask mask-squircle')|raw }}
		{% endfor %}
	</div>
	<div class="card-body mt-16">
		<div class="text-sm uppercase tracking-wide font-semibold textarea-primary">{{page.header.label}}</div>
		<h2 class="card-title m-0">{{ page.title }}</h2>
		<div class="font-light text-md">{{ page.header.subtitle }}</div>
		<div class="prose mt-6">{{ page.content|raw }}</div>
		{% if page.header.link %}
			<div class="justify-end card-actions">
				<a href="{{ page.header.link }}" class="btn btn-ghost btn-sm">Mehr</a>
			</div>
		{% endif %}
	</div>
</div>
