{% set extension = config.theme.production ? '.min' : '' %}

<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}" data-theme="garden">

	<head>
		{% block head %}
			<meta charset="utf-8"/>
			<title>
				{% if header.title %}
					{{ header.title|e }}
					|
				{% endif %}
				{{ site.title|e }}</title>

			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			{% include 'partials/metadata.html.twig' %}

			<link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}"/>
			<link rel="canonical" href="{{ page.url(true, true)|e }}"/>
		{% endblock head %}

		{% block stylesheets %}
			{% do assets.addCss('theme://css/output.css', 98) %}
			{% do assets.addCss('theme://css/line-awesome.min.css') %}
		{% endblock %}

		{% block javascripts %}{% endblock %}

		{% block assets deferred %}
			{{ assets.css()|raw }}
			{{ assets.js()|raw }}
		{% endblock %}
	</head>

	<body id="top" class="drawer drawer-end {{ config.theme.production ?: 'debug-screens' }}">
		<input id="menu-drawer" type="checkbox" class="drawer-toggle">
		<div class="drawer-content">

			{% block header %}

				{% set header_image = page.header.image ? page.media.images[page.header.image] : page.media.images|first %}

				<header class="bg-neutral bg-blend-overlay bg-hero-topography">

					<div class="navbar mb-2 shadow-lg text-neutral-content">
						<div class="px-2 mx-2 navbar-start">
							<a href="/">
								{{ svg('theme://svg/logo.svg', 'fill-current w-10 h-10')|raw }}
							</a>
						</div>
						<nav class="hidden px-2 mx-2 navbar-center lg:flex">
							<ul class="flex items-stretch space-x-2">
								{% for page in pages.children.visible %}
									{% set current_page = (page.active or page.activeChild) ? 'btn-active' : '' %}
									<a href="{{ page.url|e }}" class="btn btn-ghost btn-sm rounded-btn {{ current_page|e }}">
										{% if page.header.icon %}
											<i class="icon-{{ page.header.icon }} mr-1"></i>
										{% endif %}
										<span>{{ page.menu|e }}</span>
									</a>
								{% endfor %}
							</ul>
						</nav>
						<div class="navbar-end">
							<label for="menu-drawer" class="btn btn-square btn-ghost drawer-button">
								<i class="icon-menu-right"></i>
							</label>
						</div>

					</div>

					{% block header_content %}
						<div class="text-center py-12">
							<h1 class="text-7xl text-neutral-content">{{ page.title }}</h1>
						</div>
					{% endblock %}

				</header>


			{% endblock %}

			{% block body %}
				<main id="body">
					<div class="px-4 my-16">
						{% block content %}{% endblock %}
					</div>
				</main>
			{% endblock %}

			{% block footer %}

				<footer class="p-10 footer bg-base-200 text-base-content">
					<div>
						{{ svg('theme://svg/logo.svg', 'fill-current w-12 h-12 text-neutral-content')|raw }}
						<p class="text-lg">{{ config.site.title}}</p>
						<p>&copy;
							{{ "now"|date("Y") }}</p>
					</div>
					<div>
						<span class="footer-title">Hauptmenü</span>
						{% for page in pages.children.visible %}
							{% set current_page = (page.active or page.activeChild) ? 'btn-active' : '' %}
							<a href="{{ page.url|e }}" class="link link-hover flex {{ current_page|e }}">
								{{ page.menu|e }}
							</a>
						{% endfor %}
					</div>
					<div>
						<span class="footer-title">Weiteres</span>
						{% for page in pages.children.nonvisible %}
							{% set current_page = (page.active or page.activeChild) ? 'btn-active' : '' %}
							<a href="{{ page.url|e }}" class="link link-hover {{ current_page|e }}">
								{{ page.menu|e }}
							</a>
						{% endfor %}
					</div>
					<div>
						<span class="footer-title">Netzwerke</span>
						<div class="grid grid-flow-col gap-4">
							<a>
								{{ svg('theme://svg/instagram.svg', 'fill-current')|raw }}
							</a>
							<a>
								{{ svg('theme://svg/youtube.svg', 'fill-current')|raw }}
							</a>
						</div>
					</div>
				</footer>
			{% endblock %}

		</div>

		<div class="drawer-side">
			<label for="menu-drawer" class="drawer-overlay"></label>
			<ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content space-y-2">
				<li class="menu-title">
					<span>
						Allgemein
					</span>
				</li>
				{% for page in pages.children.visible.ofOneOfTheseTypes(['sections','chronicle']) %}
					{% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
					<li>
						<a href="{{ page.url|e }}" class="{{ current_page|e }}">
							{% if page.header.icon %}
								<i class="icon-{{ page.header.icon }} mr-1"></i>
							{% endif %}
							{{ page.menu|e }}
						</a>
					</li>
				{% endfor %}
				<li class="menu-title mt-6">
					<span>
						Gruppen
					</span>
				</li>
				{% for page in pages.children.ofType('group') %}
					{% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
					<li>
						<a href="{{ page.url|e }}" class="{{ current_page|e }}">
							{{ page.menu|e }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		{% block bottom %}
			{{ assets.js('bottom')|raw }}
		{% endblock %}

	</body>
</html>
