<div class="card bordered shadow-sm w-full bg-neutral-content">

	<div class="p-5">
		<div class="flex items-center justify-between">
			<div>
				<div class="text-primary font-medium uppercase text-xs tracking-wide">{{ event.taxonomy.category|first }}</div>
				<h3 class="text-lg font-bold">
					<a href="{{ event.url }}">{{ event.title }}</a>
				</h3>
			</div>
			<div class="flex text-neutral">
				{% if event.media.images|length > 1 %}
					<div data-tip="Galerie" class="tooltip">
						<a href="{{event.url}}#galerie">
							{{ svg('theme://svg/icon/photo.svg', 'icon w-6')|raw }}
						</a>
					</div>
				{% endif %}
				{% if event.content %}
					<div data-tip="Bericht" class="tooltip">
						<a href="{{event.url}}#bericht">
							{{ svg('theme://svg/icon/news.svg', 'icon w-6')|raw }}
						</a>
					</div>
				{% endif %}
			</div>
		</div>

	</div>

	{% set image = event.media.images|first %}

	{% set group_badges %}
	{% for group in event.taxonomy.group|default([])|sort %}
		<a class="badge" href="/{{group|lower}}">
			{{ group }}
		</a>
	{% endfor %}
	{% endset %}

	{% if image %}
		<div class="relative">
			<figure>
				{{ image.cropZoom(600, 300).html|raw }}
			</figure>
			<div class="absolute left-5 bottom-3 text-center">
				{{ group_badges }}
			</div>
		</div>
	{% else %}
		<div class="px-5 py-3 bg-base-300">
			{{ group_badges }}
		</div>
	{% endif %}

	<div class="flex items-center justify-between p-5">
		<div class="font-semibold text-sm opacity-50">{{ event.header.dtend|nicetime }}</div>
		<a class="btn btn-ghost btn-xs ml-4" href="{{ event.url }}">Details</a>
	</div>

</div>
