<div class="w-full bg-neutral-content shadow rounded-box">

	<div class="p-5">
		<div class="flex items-center justify-between">
			<div class="whitespace-nowrap bg-primary rounded-lg font-bold tracking-wide uppercase py-2 px-3 text-primary-content text-sm">
				{{ event.dtstart|date('j. M') }}
			</div>
			<div class="uppercase font-semibold text-sm tracking-wide text-primary opacity-90">{{ event.taxonomy.category|first }}</div>
		</div>
	</div>

	{% if event.image %}
		<figure>
			{{ event.image.cropZoom(600, 300).html|raw }}
		</figure>
	{% endif %}

	<div class="p-5">
		<div class="text-center">
			{% for group in event.taxonomy.group|sort %}
				<a class="badge badge-secondary" href="/{{group|lower}}">
					{{ group }}
				</a>
			{% endfor %}
		</div>
		<h2 class="card-title text-center mt-5">
			<a href="{{event.url}}">{{ event.title }}</a>
		</h2>
		{% if event.parent %}
			<div class="font-light text-xs mt-2 text-center">
				Anlass
				{{ event.parent.index + 1}}
				von
				{{ event.parent.total }}
				des
				{{ event.taxonomy.category|first }}
				<a class="link link-hover text-primary" href="{{ event.url }}">{{ event.parent.title }}</a>
				vom
				{{ event.parent.dtstart|startEnd(event.parent.dtend) }}
			</div>
		{% endif %}
		<div class="flex items-center justify-between mt-5">
			<div class="font-medim text-sm">{{ event.dtstart|startEnd(event.dtend, true) }}</div>
			<a class="btn btn-outline btn-xs ml-5" href="{{ event.url }}{{ event.parent ? '#'~event.title|hyphenize : ''}}">Details</a>
		</div>
	</div>
</div>
