<div class="space-y-12">
	<div class="flex flex-wrap justify-center">

		{% for group in page.taxonomy.group %}
			<a class="badge badge-lg badge-secondary shadow-sm mr-2 mb-2" href="/{{group|lower}}">
				{{ svg('theme://svg/icon/circles.svg', 'icon w-4 mr-1')|raw }}
				{{ group }}
			</a>
		{% endfor %}

		{% for category in page.taxonomy.category %}
			<a class="badge badge-lg badge-secondary shadow-sm mr-2 mb-2" href="/chronik/category:{{category}}">
				{{ svg('theme://svg/icon/folder.svg', 'icon w-4 mr-1')|raw }}
				{{ category }}
			</a>
		{% endfor %}

		{% for tag in page.taxonomy.tag %}
			<a class="badge badge-lg badge-secondary shadow-sm mr-2 mb-2" href="/chronik/tag:{{tag}}">
				{{ svg('theme://svg/icon/bookmark.svg', 'icon w-4 mr-1')|raw }}
				{{ tag }}
			</a>
		{% endfor %}

	</div>

	<div class="text-center text-lg font-bold text-neutral">
		{% if date(page.header.dtstart) < date() and date() < date(page.header.dtend) %}
			Läuft momentan.
		{% else %}
			{{ page.header.dtstart|nicetime }}
		{% endif %}
	</div>

	<dl class="md:columns-2">
		<dt>Beschreibung</dt>
		<dd>
			<h2 class="card-title">{{ page.header.subtitle }}</h2>
			<div class="prose">
				{{ page.header.description ? page.header.description|markdown : 'Keine Beschreibung vorhanden.' }}
			</div>
		</dd>
		<dt>Team</dt>
		<dd>
			{% if not page.taxonomy.lead and not page.taxonomy.team %}
				Keine Angabe.
			{% else %}
				{% for lead in page.taxonomy.lead|default([])|sort %}
					<span class="badge badge-primary shadow-sm mr-1 mb-1">
						{{ lead }}
					</span>
				{% endfor %}
				{% for user in page.taxonomy.team|default([])|sort %}
					<span class="badge badge-secondary shadow-sm mr-1 mb-1">
						{{ user }}
					</span>
				{% endfor %}
			{% endif %}
		</dd>
		{% if date(page.header.dtstart) > date() %}
			<dt>Anmeldung</dt>
			<dd>
				{% if page.header.registration.required %}
					{% if date() < date(page.header.registration.dtend) %}
						<div>
							Möglich bis
							{{ page.header.registration.dtend|date('d. M y') }}
						</div>
						<div class="prose-sm">
							{{ page.header.registration.description|markdown }}
						</div>
					{% else %}
						<div>Endete am
							{{ page.header.registration.dtend|date('d.n.y') }}.</div>
					{% endif %}
				{% else %}
					<div>Nicht nötig. Schau einfach vorbei!</div>
				{% endif %}
			</dd>
		{% endif %}

		{% if page.header.flyer %}
			{% set flyer = page.media[page.header.flyer] %}
			<dt>Flyer</dt>
			<dd class="flex items-center">
				{{ svg('theme://svg/icon/file-text.svg', 'icon w-5 inline')|raw }}
				<span>PDF</span>
				<a class="ml-2 link link-hover" href="{{flyer.url}}">Herunterladen</a>
			</dd>
		{% endif %}

		<dt>Dauer</dt>
		<dd>{{ page.header.dtstart|startEnd(page.header.dtend, true) }}</dd>

		<dt>Ort</dt>
		<dd>{{ page.header.location ?? 'Keine Angabe' }}</dd>

		<dt>Begrüssung</dt>
		<dd>
			<div>{{ page.header.dtstart|date('d. M Y G:i') }}</div>
			<div class="font-light">{{ page.header.locstart ?? 'Treffpunkt unbekannt.' }}</div>
		</dd>

		<dt>Verabschiedung</dt>
		<dd>
			<div>{{ page.header.dtend|date('d. M Y G:i') }}</div>
			<div class="font-light">{{ page.header.locend ?? page.header.locstart ?? 'Treffpunkt unbekannt.' }}</div>
		</dd>

		{% if page.header.cost %}
			<dt>Kosten</dt>
			<dd>
				CHF
				<b>{{ page.header.cost.amount }}</b>
				<em>
					{{ page.header.cost.note }}</em>
			</dd>
		{% endif %}

	</dl>

	{% set locations = getLocationAndVenues(page) %}
	{% if locations|count %}
		<div class="h-96" id="map">
			{% do assets.addInlineJs("var locations = "~locations|json_encode, {group: 'bottom'}) %}
			{% do assets.addJs('theme://js/event.js') %}
			{% do assets.addJs('https://maps.googleapis.com/maps/api/js?callback=initMap&key='~getGoogleMapsApiKey(), {loading: 'async'}) %}
		</div>
	{% endif %}

	{% if page.header.events %}
		<div class="grid grid-cols-3 gap-6">

			{% for event in extractSubEvents(page) %}

				<div id="{{ event.title|hyphenize }}">

					<div class="flex items-start">
						<div class="card text-center bordered w-12 bg-neutral-content shadow-sm flex-none">
							<div class="font-black py-2">
								{{ event.dtstart|date('j') }}
							</div>
							<div class="font-semibold py-1 bg-primary text-primary-content uppercase tracking-wide text-xs">{{ event.dtstart|date('M') }}</div>
						</div>
						<div class="ml-6">
							<h4 class="text-lg font-bold mt-1">{{ event.title }}</h4>
							<div class="flex flex-wrap text-sm">
								<span class="uppercase tracking-wide opacity-50 font-semibold mr-1">von</span>
								<span class="font-medium mr-1">{{ event.dtstart|startEndTime(event.dtend) }}</span>
								<span class="font-light">{{ event.locstart ?? page.header.locstart ?? 'Treffpunkt unbekannt.' }}</span>
							</div>
							<div class="flex flex-wrap text-sm">
								<span class="uppercase tracking-wide opacity-50 font-semibold mr-1">bis</span>
								<span class="font-medium mr-1">{{ event.dtend|startEndTime(event.dtstart) }}</span>
								<span class="font-light">{{ event.locend ?? event.locstart ?? page.header.locstart ?? 'Treffpunkt unbekannt.' }}</span>
							</div>
							{% if event.notice %}
								<div class="prose prose-sm">
									{{ event.notice }}
								</div>
							{% endif %}
						</dl>

					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}</div>
