{% set internal = internal|default(false) %}

<ul class="menu compact rounded-box p-4 space-y-1" {{ id ? 'id='~id : ''}}>
	<li class="menu-title">
		<span>{{ title }}</span>
	</li>
	{% for item in items %}
		{% set current_item = (item.active or item.activeChild) ? 'active' : '' %}
		{% set url = internal ? '#'~item.slug : item.url %}
		<li>
			<a href="{{ url }}" class="{{ current_item }}">
				{% if item.header.icon %}
					{{ svg('theme://svg/icon/'~item.header.icon~'.svg', 'icon w-5 mr-2')|raw }}
				{% endif %}
				{{ item.menu ?? item.title }}
			</a>
		</li>
	{% endfor %}
</ul>
