{% set icon_classes = icon_classes|default('icon w-6 mr-1') %}
{% set active_class = active_class|default('active') %}
{% set link_classes = link_classes|default('') %}

{% for page in pages %}
	{% set current_page = (page.active or page.activeChild) ? active_class : '' %}
	<li>
		<a href="{{ page.url|e }}" class="{{ link_classes }} {{ current_page|e }}">
			{% if page.header.icon %}
				{{ svg('theme://svg/icon/'~page.header.icon~'.svg', icon_classes)|raw }}
			{% endif %}
			{{ page.menu|e }}
		</a>
	</li>
{% endfor %}