<section id="{{ item.menu|hyphenize }}" class="mt-12">
	<header class="flex flex-col items-center mt-2 mb-8">
		{{ svg('theme://svg/icon/'~item.header.icon~'.svg', 'icon w-16')|raw }}
		<h2 class="uppercase tracking-wide font-black text-5xl md:text-7xl text-base-300">{{ item.title }}</h2>
		<div class="text-xl md:text-2xl font-bold -mt-6 text-primary">{{ item.header.subtitle }}</div>
	</header>
	<div>
		{{ item.content|raw }}
	</div>
</section>
