{% set semester = page.collection({
  items: {
    'taxonomy@': {
      category: 'Semester',
      group: group
    }
  },
  order: {
    by: 'header.dtend',
    dir: 'asc'
  },
  dateRange: {
    start: 'now',
    field: 'header.dtend'
  },
  filter: {
    published: true,
    type: 'event'
  }
})|first %}

{% set upcoming = getUpcomingEvent(semester) %}

<div class="flex flex-col lg:flex-row items-start justify-center">

	<div class="card w-full sm:w-2/3 lg:flex-1">
		<div class="card-body">
			<div class="card-title text-center">Team</div>
			<dl class="text-center">
				<dt>Teamleiter</dt>
				<dd>
					<div>
						{{ svg('theme://svg/icon/user.svg','icon w-4 mr-1 inline')|raw }}
						{{ semester.taxonomy.lead|first }}
					</div>
					<div>
						{{ svg('theme://svg/icon/mail.svg','icon w-4 mr-1 inline')|raw }}
						{% include 'partials/link-mail.html.twig' with {email: page.header.contact.email} %}
					</div>
					<div>
						{{ svg('theme://svg/icon/phone.svg','icon w-4 mr-1 inline')|raw }}
						{% include 'partials/link-tel.html.twig' with {tel: page.header.contact.tel} %}
					</div>
				</dd>
				<dt>Team</dt>
				<dd>{{ semester.taxonomy.team|join(', ') }}</dd>
				<dt>Teambegleitung</dt>
				<dd>
					<div>
						{{ svg('theme://svg/icon/user.svg','icon w-4 mr-1 inline')|raw }}
						{{ page.header.coach.name }}
					</div>
					<div>
						{{ svg('theme://svg/icon/phone.svg','icon w-4 mr-1 inline')|raw }}
						{% include 'partials/link-tel.html.twig' with {tel: page.header.coach.tel} %}
					</div>
				</dd>
			</dl>
		</div>
	</div>

	<div class="card w-full lg:w-2/5 lg:mx-6 bg-neutral-content shadow my-12 lg:my-0">

		<div class="flex justify-between items-start p-6">
			<div class="whitespace-nowrap bg-primary rounded-lg font-bold tracking-wide uppercase py-2 px-3 text-primary-content text-sm mr-5">
				{{ upcoming.dtstart|date('j. M') }}
			</div>
			<div class="text-right">
				<div class="uppercase font-medium text-sm tracking-wide text-primary">
					Nachmittag
					{{ upcoming.parent.index + 1}}/{{ upcoming.parent.total }}
				</div>
				<h3 class="text-xl font-bold">{{ upcoming.title }}</h3>
			</div>
		</div>

		<figure>
			{{ upcoming.image.cropZoom(600, 300).html|raw }}
		</figure>

		<div class="px-6 py-4 text-sm">
			{% include 'partials/event-startend.html.twig' with {event: upcoming} %}
		</div>

		{% if upcoming.description %}
			<div class="px-6 pb-4 prose-sm my-3">{{ upcoming.description }}</div>
		{% endif %}
		<div class="flex justify-between border-t border-solid px-5 py-4">
			<div>
				{% if upcoming.tbd %}
					<div>Infos folgen!</div>
				{% elseif upcoming.registration.required %}
					<div>Anmeldung bis
						{{ upcoming.registration.dtend|date('j.n.y') }}</div>
				{% else %}
					<div>Keine Anmeldung nötig.</div>
				{% endif %}
			</div>
			<a class="btn btn-outline btn-xs" href="{{ upcoming.url }}{{ '#'~event.title|hyphenize}}">Details</a>
		</div>
	</div>

	<div class="card w-full sm:w-2/3 lg:flex-1">
		<div class="card-body text-center">
			<div class="card-title">Infos</div>
			<dl>
				<dt>Thema</dt>
				<dd>
					<span>{{ semester.title }}</span>
					/
					<span class="font-light">{{ semester.header.subtitle }}</span>
				</dd>
				<dt>Dauer</dt>
				<dd>{{ semester.header.dtstart|startEnd(semester.header.dtend) }}</dd>
				<dt>Beschreibung</dt>
				<dd class="prose prose-sm">
					{{ semester.header.description|markdown }}
				</dd>
				<dt>Ausrüstung</dt>
				<dd class="prose prose-sm">
					{{ config.theme.group.note|markdown }}
				</dd>
			</dl>
		</div>
	</div>
</div>
