{% set semester = page.collection({
  items: {
    'taxonomy@': {
      category: 'Semester',
      group: group
    }
  },
  order: {
    by: 'header.dtend',
    dir: 'asc'
  },
  dateRange: {
    start: 'now',
    field: 'header.dtend'
  },
  filter: {
    published: true,
    type: 'event'
  }
})|first %}

{% set upcoming = extractUpcomingEvent(semester) %}

<div class="flex flex-col lg:flex-row items-start justify-center">

	<div class="card w-full sm:w-2/3 lg:flex-1">
		<div class="card-body">
			<div class="card-title text-center">Team</div>
			<dl class="text-center">
				<dt>Teamleiter</dt>
				<dd>
					<div>
						{{ svg('theme://svg/icon/user.svg','icon w-4 mr-1 inline')|raw }}
						{{ semester.taxonomy.lead|first }}
					</div>
					<div>
						{{ svg('theme://svg/icon/mail.svg','icon w-4 mr-1 inline')|raw }}
						{% include 'partials/link-mail.html.twig' with {email: page.header.contact.email} %}
					</div>
					<div>
						{{ svg('theme://svg/icon/phone.svg','icon w-4 mr-1 inline')|raw }}
						{% include 'partials/link-tel.html.twig' with {tel: page.header.contact.tel} %}
					</div>
				</dd>
				<dt>Team</dt>
				<dd>{{ semester.taxonomy.team|join(', ') }}</dd>
				<dt>Teambegleitung</dt>
				<dd>
					<div>
						{{ svg('theme://svg/icon/user.svg','icon w-4 mr-1 inline')|raw }}
						{{ page.header.coach.name }}
					</div>
					<div>
						{{ svg('theme://svg/icon/phone.svg','icon w-4 mr-1 inline')|raw }}
						{% include 'partials/link-tel.html.twig' with {tel: page.header.coach.tel} %}
					</div>
				</dd>
			</dl>
		</div>
	</div>

	<div class="w-full lg:w-2/5 lg:mx-6 my-12 lg:my-0">
		{% include 'partials/card-date.html.twig' with {date: upcoming.dtstart} 	%}
		<div class="mt-8">
			{% include 'partials/event-upcoming.html.twig' with {event: upcoming} 	%}
		</div>
	</div>

	<div class="card w-full sm:w-2/3 lg:flex-1">
		<div class="card-body text-center">
			<div class="card-title">Infos</div>
			<dl>
				<dt>Thema</dt>
				<dd>
					<span>{{ semester.title }}</span>
					/
					<span class="font-light">{{ semester.header.subtitle }}</span>
				</dd>
				<dt>Dauer</dt>
				<dd>{{ semester.header.dtstart|startEnd(semester.header.dtend) }}</dd>
				<dt>Beschreibung</dt>
				<dd class="prose prose-sm">
					{{ semester.header.description|markdown }}
				</dd>
				<dt>Ausrüstung</dt>
				<dd class="prose prose-sm">
					{{ config.theme.group.note|markdown }}
				</dd>
			</dl>
		</div>
	</div>
</div>
