{% for tax in list %}
    {% set active = uri.param(name) == tax ? '' : 'badge-ghost' %}
    <a class="badge {{ active }}" href="/chronik/{{ name }}{{ config.system.param_sep }}{{ tax }}#body">
      {{ tax }}
    </a>
{% endfor %}