{% block content %}
	<div class="flex">
		<aside class="hidden md:flex flex-1 justify-end">
			<nav id="sidenav" class="mr-5 lg:mr:8">
				<ul class="sticky top-16 space-y-3 lg:space-y-5">
					{% for section in sections %}
						<li class="hover:font-bold hover:text-primary">
							<a href="#{{ section.slug }}" class="flex flex-col items-center">
								{{ svg('theme://svg/icon/'~section.header.icon~'.svg', 'icon w-8 lg:w-10')|raw }}
								<div class="uppercase text-xs lg:text-sm font-semibold mt-1">{{ section.title }}</div>
							</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
		</aside>
		<div class="container">
			{% for section in sections %}
				<section id="{{ section.slug }}" class="mt-12">
					<header class="flex flex-col items-center mt-2 mb-8">
						{{ svg('theme://svg/icon/'~section.header.icon~'.svg', 'icon w-16')|raw }}
						<h2 class="uppercase tracking-wide font-black text-5xl md:text-7xl text-base-300">{{ section.title }}</h2>
						<div class="text-xl md:text-2xl font-bold -mt-6 text-primary">{{ section.header.subtitle }}</div>
					</header>
					<div>
						{{ section.content|raw }}
					</div>
				</section>
			{% endfor %}
		</div>
		<div class="flex-1"></div>
	</div>
{% endblock %}

{% block drawer %}
	{% include 'partials/menu-aside.html.twig' with {title: 'Abschnitte', items: sections, internal: true} %}
{% endblock %}

{# {% block javascripts %}
	{% do assets.add('theme://js/scrollspy.min.js') %}
	{{ parent() }}
{% endblock %}


{% block bottom %}
	{{ parent() }}
	<script>
		const sidenav = document.querySelector('#sidenav');
		const scrollspy = VanillaScrollspy(sidenav);
		scrollspy.init();
	</script>
{% endblock %} #}
