{% extends 'partials/base.html.twig' %}

{% set events = page.collection({
  items: {
    '@page.descendants': '/chronik',
  },
  filter: {
    published: true,
    type: 'event'
  },
  order: {
    by: 'header.dtend',
    dir: 'desc'
  }
}) %}

{% block content %}
	<div class="container-xl mx-auto overflow-x-auto">

		<article class="prose prose-lg lg:prose-xl mx-auto text-center">{{ page.content|raw }}</article>

		<div class="space-y-3 mt-12">
			{% for year, events in events|groupByYear('dtstart') %}
				<div tabindex="0" class="collapse border rounded-box border-base-300 collapse-plus">
					<input type="checkbox">
					<div class="collapse-title text-xl font-medium">{{ year }}
						({{ events|length }})</div>
					<div class="collapse-content overflow-x-auto">
						<table class="table w-full table-compact">
							<thead>
								<tr>
									<th>Datum</th>
									<th>Titel</th>
									<th class="hidden md:table-cell">Ort</th>
									<th class="hidden xl:table-cell">Gruppen</th>
									<th class="hidden md:table-cell">Kategorien</th>
									<th class="hidden xl:table-cell">Tags</th>
									<th>Bericht</th>
									<th>Fotos</th>
								</tr>
							</thead>
							<tbody>
								{% for event in events %}
									<tr>
										<td>
											<span class="sm:hidden">{{ event.header.dtstart|date('j. M y') }}</span>
											<span class="hidden sm:inline">{{ event.header.dtstart|startEnd(event.header.dtend) }}</span>
										</td>
										<td>
											<a class="link link-hover" href="{{event.url}}">{{ event.title }}</a>
										</td>
										<td class="hidden md:table-cell">{{ event.header.location }}</td>
										<td class="hidden xl:table-cell">{{ event.taxonomy.group|join(', ') }}</td>
										<td class="hidden md:table-cell">{{ event.taxonomy.category|join(', ') }}</td>
										<td class="hidden xl:table-cell">{{ event.taxonomy.tag|join(', ') }}</td>
										<td>
											{% if event.content %}
												{{ svg('theme://svg/icon/check.svg','icon w-6 text-success')|raw }}
											{% else %}
												{{ svg('theme://svg/icon/x.svg','icon w-6 text-warning')|raw }}
											{% endif %}
										</td>
										<td class="flex">
											{% set imageCount = event.media.images|length %}
											{% if imageCount > 1 %}
												{{ svg('theme://svg/icon/check.svg','icon w-6 text-success')|raw }}
												({{imageCount}})
											{% else %}
												{{ svg('theme://svg/icon/x.svg','icon w-6 text-warning')|raw }}
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			{% endfor %}
		</div>

	</div>
{% endblock %}
