{% extends 'partials/base.html.twig' %}

{% block hero %}
	<div class="text-2xl md:text-3xl uppercase font-extrabold tracking-wide text-base-200">{{ page.header.dtstart|startEnd(page.header.dtend) }}</div>
	<h1 class="text-6xl md:text-7xl font-black my-2 text-neutral-content">{{ page.header.title }}</h1>
	<div class="text-2xl md:text-3xl text-bold text-base-100">{{ page.header.subtitle }}</div>
{% endblock %}

{% set infos %}
<div class="space-y-12">
	<div class="flex flex-wrap justify-center">
		{% for group in page.taxonomy.group %}
			<a class="badge badge-lg badge-secondary shadow-sm mr-2 mb-2" href="/{{group}}">
				{{ svg('theme://svg/icon/circles.svg', 'icon w-4 mr-1')|raw }}
				{{ group }}
			</a>
		{% endfor %}
		{% for category in page.taxonomy.category %}
			<a class="badge badge-lg badge-secondary shadow-sm mr-2 mb-2" href="/chronik/category:{{category}}">
				{{ svg('theme://svg/icon/folder.svg', 'icon w-4 mr-1')|raw }}
				{{ category }}
			</a>
		{% endfor %}
		{% for tag in page.taxonomy.tag %}
			<a class="badge badge-lg badge-secondary shadow-sm mr-2 mb-2" href="/chronik/tag:{{tag}}">
				{{ svg('theme://svg/icon/bookmark.svg', 'icon w-4 mr-1')|raw }}
				{{ tag }}
			</a>
		{% endfor %}
	</div>
	<div class="grid lg:grid-cols-2 xl:grid-cols-5 gap-8">

		<div class="card bordered shadow-sm xl:col-span-3">
			<div class="card-body">
				<div class="card-title">{{ page.header.subtitle }}</div>
				<div class="prose prose-sm">{{ page.header.description|markdown }}</div>
				<dl class="mt-4">
					<dt>Dauer</dt>
					<dd>{{ page.header.dtdstart|startEnd(page.header.dtend) }}</dd>

					<dt>Ort</dt>
					<dd>{{ page.header.location ?? 'Keine Angabe' }}</dd>

					<dt>Begrüssung</dt>
					<dd>
						<div>{{ page.header.dtstart|date('d. M Y G:i') }}</div>
						<div class="font-light">{{ page.header.locstart ?? config.theme.event.location }}</div>
					</dd>

					<dt>Verabschiedung</dt>
					<dd>
						<div>{{ page.header.dtend|date('d. M Y G:i') }}</div>
						<div class="font-light">{{ page.header.locend ?? page.header.locstart ?? config.theme.event.location }}</div>
					</dd>

					<dt>Team</dt>
					<dd>
						{% for lead in page.taxonomy.lead %}
							<a class="badge badge-primary shadow-sm mr-1 mb-1" href="/chronik/lead:{{lead}}">
								{{ lead }}
							</a>
						{% endfor %}
						{% for user in page.taxonomy.team %}
							<a class="badge badge-secondary shadow-sm mr-1 mb-1" href="/chronik/team:{{user}}">
								{{ user }}
							</a>
						{% endfor %}
					</dd>

					{% if page.header.flyer %}
						{% set flyer = page.media[page.header.flyer] %}
						<dt>Flyer</dt>
						<dd class="flex items-center">
							{{ svg('theme://svg/icon/file-text.svg', 'icon w-5 inline')|raw }}
							<span>PDF</span>
							<a class="ml-2 link link-hover" href="{{flyer.url}}">Herunterladen</a>
						</dd>
					{% endif %}

					{% if page.header.cost %}
						<dt>Kosten</dt>
						<dd>
							CHF
							<b>{{ page.header.cost.amount }}</b>
							<em>
								{{ page.header.cost.note }}</em>
						</dd>
					{% endif %}

					{% if page.header.registration %}
						<dt>Anmeldung</dt>
						<dd>
							{% if date(page.header.registration.dtstart) > date() %}
								{{ page.header.registration.dtstart|nicetime }}
							{% elseif date() < date(page.header.registration.dtend) %}
								<div class="font-light">Anmeldung schliesst am
									{{ page.header.registration.dtend|date('d. M y G:i') }}.</div>
								<div>{{ page.header.registration.description|markdown }}</div>
								{% else %}
							{% endif %}
						</dd>
					{% endif %}
				</dl>
			</div>
		</div>

		<div class="xl:col-span-2 grid grid-rows-2 gap-4">
			{% set locstart = page.header.locstart ?? config.theme.event.location %}
			{% set locend = page.header.locend ?? locstart %}
			<div class="indicator justify-self-center">
				<div class="indicator-item indicator-center indicator-top badge">Treffpunkt</div>
				<div class="rounded-box overflow-hidden shadow-sm">
					{% if locstart == locend %}
						{{ staticMap({
								T: locstart
							})|raw }}
					{% else %}
						{{ staticMap({
								B: locstart,
								V: locend,
							})|raw }}
					{% endif %}
				</div>
			</div>
			<div class="indicator w-full h-full">
				<div class="indicator-item indicator-center indicator-top badge">Ort</div>
				<div class="rounded-box overflow-hidden shadow-sm w-full h-full">
					{{ embedMap(page.header.location)|raw }}
				</div>
			</div>
		</div>

	</div>

	{% if page.header.events %}
		<div class="lg:col-span-2 grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
			{% for event in page.header.events %}
				<div class="card compact bordered">
					<div class="card-body">
						<div class="flex">
							<div class="uppercase text-sm font-semibold text-neutral">{{ event.dtstart|startEnd(event.dtend) }}
							</div>
							<div class="font-light ml-2">{{ event.location ?? page.header.location }}</div>
						</div>
						<h4 class="text-lg font-bold mt-1 mb-3">{{ event.title }}</h4>
						<div>
							<div>
								<span class="badge badge-ghost">Start</span>
								<b>{{ event.dtstart|startEndTime(event.dtend) }}</b>
							</div>
							<div class="font-light">{{ event.locstart ?? page.header.locstart ?? config.theme.event.location }}</div>
						</div>
						<div class="mt-2">
							<div>
								<span class="badge badge-ghost">Ende</span>
								<b>{{ event.dtend|startEndTime(event.dtstart) }}</b>
							</div>
							<div class="font-light">{{ event.locend ?? event.locstart ?? page.header.locend ?? page.header.locstart ?? config.theme.event.location }}</div>
						</div>
						<div class="text-sm mt-3">{{ event.description }}</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
</div>

{% endset %}

{% set article %}
{% if page.content %}
	<article class="prose mx-auto">
		{{ page.content|raw }}
	</article>
{% else %}
	{% include 'partials/empty.html.twig'  with {msg: 'Kein Bericht vorhanden'} %}
{% endif %}
{% endset %}

{% set gallery %}
{% include 'partials/gallery.html.twig' with { images: page.media.images ?? [] } %}
{% endset %}

{% set sections = [
  {
    title: 'Infos',
    content: infos,
    slug: 'infos',
    header: {
      subtitle: page.title,
      icon: 'calendar-event.svg',
    }
  },
  {
    title: 'Bericht',
    slug: 'bericht',
    content: article,
    header: {
      icon: 'news.svg',
      subtitle: 'Rückblick'
    }
  },
  {
    title: 'Gallerie',
    slug: 'gallerie',
    content: gallery,
    header: {
      icon: 'photo.svg',
      subtitle: 'Impressionen'
    }
  }
] %}

{% use 'blocks/sections.html.twig' %}
