{% extends "partials/base.html.twig" %}

{% block header_content %}
	{% for module in page.collection() if module.template == 'modular/hero' %}
		{{ module.content|raw }}
	{% endfor %}
{% endblock %}

{% block content %}
	<article class="prose mx-auto text-center">{{ page.content|raw }}</article>
	<div class="flex">
		<aside class="flex flex-1 justify-end">
			<nav id="sidenav" class="mr-4">
				<ul class="sticky top-4">
					{% for module in page.collection() if module.template != 'modular/hero' %}
						<li class="hover:font-bold hover:text-primary mt-4">
							<a href="#{{ module.menu|hyphenize }}" class="flex flex-col items-center">
								{{ svg('theme://svg/icon/'~module.header.icon~'.svg', 'icon w-10')|raw }}
								<div class="uppercase text-sm font-semibold mt-1">{{ module.header.title }}</div>
							</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
		</aside>
		<div class="container">
			{% for module in page.collection() if module.template != 'modular/hero' %}
				{% include 'partials/section.html.twig' with {item: module} %}
			{% endfor %}
		</div>
		<div class="flex-1"></div>
	</div>
{% endblock %}

{# {% block javascripts %}
	{% do assets.add('theme://js/scrollspy.min.js') %}
	{{ parent() }}
{% endblock %}


{% block bottom %}
	{{ parent() }}
	<script>
		const sidenav = document.querySelector('#sidenav');
		const scrollspy = VanillaScrollspy(sidenav);
		scrollspy.init();
	</script>
{% endblock %} #}
